image @IMAGE@ {
    hdimage {
        partition-table-type = hybrid
        align = 1M
    }

    partition boot {
        image = @IMAGE@.boot.vfat
        partition-type = 0xc
        partition-type-uuid = F
        bootable = true
    }

	partition barebox-environment {
		partition-type-uuid = barebox-env
		image = barebox-default-environment
		size = 1M
		image = "/dev/zero"
	}

	partition barebox-state {
		partition-type-uuid = barebox-state
		size = 1M
		image = "/dev/zero"
	}

    partition root-A {
        image = @IMAGE@.root.ext4
        partition-type = 0x83
        partition-type-uuid = root-arm64
        size = 200M
    }

    partition root-B {
        size = 200M
        partition-type = 0x83
        partition-type-uuid = root-arm64
    }
}

image @IMAGE@.root.ext4 {
    ext4 {}
    size = 200M
    mountpoint = "/"
}

image @IMAGE@.boot.vfat {
    vfat {
        file tiboot3.bin { image = @IMAGE_BAREBOX_R5@ }
        file k3.fip { image = @IMAGE_FIP_K3@ }
    }
    name = boot-vfat
    size = 128M
    empty = true
}