image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = gpt
		gpt-location = 2M
	}

	partition barebox {
		in-partition-table = false
		image = "barebox-embest-imx6s-riotboard.img"
		size = 2M
		holes = {"(440; 1K)"}
	}

	partition root-A {
		image = root.ext2
		partition-type-uuid = root-arm
	}
}
/* vim: set tabstop=8 noexpandtab : */
