image rpi-boot.vfat {
	vfat {
		files = { @FIRMWARE_RPI@ }
		file barebox.img { image = barebox-raspberry-pi.img }
		file bcm2711-rpi-4-b.dtb { image = barebox-bcm2711-rpi-4.dtb }
	}
	size = 32M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = hybrid
	}
	partition boot {
		offset = 4M
		image = rpi-boot.vfat
		partition-type = 0xc
		partition-type-uuid = fat32
		bootable = true
	}
	partition root-A {
		image = root.ext2
		partition-type-uuid = root-arm
	}
}
/* vim: set tabstop=8 noexpandtab : */
